.balance{
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.balance__header {
margin-left: 15px;
margin-bottom: 50px;
font-family: sans-serif;
background: #f5f5f5;
border-radius: 20px;
width: 80%;
}
.header__subtitle {
    color: gray;
    font-size: 13px;
    font-weight: 300;
    margin-top: 40px;
    margin-bottom: 5px;
}
.subtitle__link{
    border-bottom: 1px solid grey;
    cursor: pointer;
}
.header__title {
    font-size: 25px;
    color: black;
}
.info__main {
    margin-left: 15px;
    width: 80%;
    display: flex;
    justify-content: center;
    background: #f5f5f5;
    border-radius: 20px;
}
.info__data {
    width: 50%;
}
.main__choose {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    font-family: "Unbounded", sans-serif;
}
.choose__balance {
    color: rgb(22 22 191);
    width: 20%;
    height: 50px;
    font-size: 18px;
}
.choose{
    color: rgb(27, 27, 53);
    width: 50%;
    background: white;
    height: 50px;
    font-size: 18px; 
    cursor: pointer;
    background: #f5f5f5;
    font-weight: bold;
}
.choose:active{
    color:rgb(152, 165, 235)
}
.choose__history-of-findings {
    color: rgb(27, 27, 53);
    width: 50%;
    height: 50px;
    font-size: 18px;
}
.balance__profile {
    width: 40%;
    min-height:400px;
}
.profile__header{
    width: 100%;
    height:100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.profile__name {
    font-weight: 300;
    font-size: 25px;
}
.profile__image{
    width: 50px;
    height:50px;
    background-size:cover ;
    border-radius: 50px;
    border:2px solid blue;
}
.profle__text {
    width: 97%;
    background: rgb(163, 204, 238);
    color: rgb(1, 1, 255);
    font-size: 25px;
    padding-top: 25px;
    padding-left: 25px;
    height:45px;
}
.profile__subtitle {
    padding-top: 20px;
    padding-left: 20px;
}
.profile__status {
    padding-top: 20px;
    padding-left: 20px;
}
.status__neza {
    width:40%;
    margin-top: 10px;
    display: flex;
    height:100px;
    align-items: center;
}
.neza__img {
    width: 60px;
    height: 70px;
}
.neza__text {
    color: aqua;
    margin-left: 10px;
    font-size: 20px;
}
.balance__info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.info__amount {
    margin-top: 30px;
    padding-right: 10px;
    border-right: 1px solid black;
}
.amount__text {
    color: gray;
    font-size: 12px;   
}
.amount__number {
    color: aqua;
    font-size: 20px;
}
.info__waiting{
    margin-top: 30px;
    padding-right: 10px;
    border-right: 1px solid black;
}
.history{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.history__title{
    margin-top:15px;
}
.history-of-findings {
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}


@media (max-width:450px){
    .profile__name{
        font-size:15px;
        margin-left: 4px;
    }
    .profle__text{
        font-size: 15px;
        padding-bottom: 25px;
        width: 85%;
        height: 45px;
    }
    .info__main{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin: auto;
    }
    .balance__profile{
        margin-top: 10px;
        max-height: 600px;
    }
    .neza__text{
        font-size: 15px;
    }
}